//
// backgrounds.scss
//

:root {
    --bg-default: hsl(var(--primary-800-hsl),0.1);
    --bg-default-border: hsl(var(--primary-800-hsl),0.1);
    --bg-default-color: var(--text-default);
    --bg-mermaid: var(--gray-100);
}

[data-dark-mode] {
    --bg-default: var(--gray-800);
    --bg-default-border: hsl(var(--primary-200-hsl),0.1);
    --bg-default-color: var(--text-default);
    --bg-mermaid: var(--gray-800);
}

.bg-default {
    background-color: var(--bg-default) !important;
    border: 1px solid var(--bg-default-border) !important;
    color: var(--bg-default-color) !important;
}

.bg-primary {
    background-color: var(--btn-primary-bg) !important;
    border: 1px solid var(--btn-primary-border) !important;
    color: var(--btn-primary-color) !important;
}
